build/
*.o
Doxyfile
docs/
*.DS_Store
*.ps
outputs/
Aoutputs/
*.log
plots/
archive/
inputs/
videos/
*.mp4
batch*/
config.txt
params.txt
*Min*vol*/
AX_band_VPR_testing/

# Common executable extensions
*exe
*.dll
*.so
*.dylib
*.bin
*.out
*.app
*.msi
*.deb
*.rpm
*.processed


# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcodeproj/project.pbxproj

# Swap files
*.swp
*.sw?
